@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EXTruyenDL</title>
</head>
<body>
    <div>
        @{
            DateTime ngayHH = (DateTime)ViewBag.NgayHienHanh;

            DateTime tdHH = (DateTime)ViewData["Thoi diem hien hanh"];
         }
        <p>Năm hiện hành:@ngayHH.Year</p>
        <p>Giờ hiện hành:@tdHH.ToString("hh:mm:ss tt")</p>

        <p>ViewData:
            @Html.TextBox("txtNgay",ViewData["Thoi diem hien hanh"])</p>
        <p>ViewBag:
            @Html.TextBox("txtNgay",(DateTime)ViewBag.NgayHienHanh)
        </p>

        <p>ViewBag:
            @Html.TextBox("NgayHienHanh")
        </p>
       
    </div>
</body>
</html>
