@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimKiem</title>
</head>
<body>
    <h2>Kết quả tìm: @ViewBag.NoiDung</h2>
    <div>
        
    </div>
</body>
</html>
