<div class="frame frameBoxRS" >
    <div class="bar_title borderR-tlbr alignC"> Hổ trợ trực tuyến </div>
    <div class="alignC">
          
        <a href="ymsgr:sendIM?tuvan_laptrinh" title="Tư vấn qua Yahoo">
            <img src ="http://presence.msg.yahoo.com/online?u=tuvan_laptrinh&m=g&t=24&l=us" />
        </a> <br />

        <a href="skype:ltlna90?chat" title="Tư vấn qua Skype">
            <img  src="http://mystatus.skype.com/balloon/ltlna90" />
        </a> 
       
        <p> Hot line: <b>0914 024 357</b></p>  
    </div>
</div>
