@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông Báo</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <article class="boxRS" style="width:70%">
        <h2 class="border-bottom-DRed">Thông Báo</h2>
        <p style="font-size:1.2em;"> @Model </p>
        <footer class="alignR">
            <a href="javascript:history.go(-1)">Trở về</a> @*nut trở về bang javascript*@
        </footer>
    </article>
</body>
</html>

@*Bài 3.6*@
