@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<!--Bai Tap 3.3 -->
<img src="~/Photos/CuaHang/Cuahang_05.jpg" class="boxRSAdmin"
    id="imgCuaHang"/>
<aside id="sukienAdmin" class="sidebar-Admin boxRSAdmin">
    <h4>Sự kiện mới</h4>
    <b><i>Khai trương</i></b><br />
    Cửa hàng chi nhánh 4 tại 123 Lê Thánh Tôn
    <div class="alignR"><a href="#"><i>Xem chi tiết</i></a> &nbsp;&nbsp;</div>
</aside>
<aside id="chiNhanhAdmin" class="sidebar-Admin boxRSAdmin">
    <h4>Chi Nhánh</h4>
    <ul>
        <li><a href="#">Tp.Hồ Chí Minh</a></li>
        <li><a href="#">Nha Trang</a></li>
        <li><a href="#">Đà Nẵng</a></li>
        <li><a href="#">Hà Nội</a></li>
    </ul>
</aside>

@section styles{
    <style type="text/css">
        #imgCuaHang
        {
            width:70%;padding:3px;float:left
        }
    </style>
    }